$navy: #1ab394;
$yellow: #f8e10c;
$green: #356e35;
$white: white;

$success_colour: #1c84c6;
$info_colour: #23c6c8;
$warning_colour: #f8ac59;
$danger_colour: #ed5565;
$muted_colour: #888888;
$dark_colour : #5e5e5e;

$greenSubtle: rgba(139, 203, 100, 0.12);

